.carousel {
  text-align: center;
  padding: 2px;
}

button.rec-dot {
  background-color: rgb(235, 184, 16);
  box-shadow: 0 0 1px 3px rgb(255, 255, 255);
}
button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px yellow;
}
button.rec-dot {
  background-color: rgb(235, 184, 16);
  box-shadow: 0 0 1px 3px rgba(253, 250, 250, 0.5);
}

.rec.rec-arrow {
  background-color: grey;
  color: yellow;
}

.rec.rec-arrow:hover {
  background-color: yellow;
  color: white;
}
