progress {
  border: 0;
  height: 5%;
  border-radius: 20px;
}
progress::-webkit-progress-bar {
  border: 0;
  height: 100%;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  border: 0;
  height: 100%;
  border-radius: 20px;
}
progress::-moz-progress-bar {
  border: 0;
  height: 100%;
  border-radius: 20px;
}

.playerNotShow {
  height: 0;
}
/*Chrome*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 20%;
    color: yellow;
    background-color: #1e1e20;
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    background-color: yellow;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 5%;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: white;
    border-radius: 50%;
    border: 1px black solid;
    margin-top: -2%;
  }
}
.lecteur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 95.9%;
  border: solid 1px yellow;
}
@media screen and (max-width: 450px) {
  .lecteur {
    display: flex;
    flex-direction: column;
  }
}

input[type="range"]::-moz-range-progress {
  width: 100%;
}

/** FF*/

input[type="range"]::-moz-range-progress {
  background-color: yellow;
  border: 1px;
}

input[type="range"]::-moz-range-track {
  background-color: #1e1e20;
  border: 1px;
}

/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: rgba(0, 100, 180, 1);
  border: 1px;
}

input[type="range"]::-ms-fill-upper {
  background-color: grey;
  border: 1px;
}
