progress {
  border: 0;
  height: 5%;
  border-radius: 20px;
}
progress::-webkit-progress-bar {
  border: 0;
  height: 100%;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  border: 0;
  height: 100%;
  border-radius: 20px;
}
progress::-moz-progress-bar {
  border: 0;
  height: 100%;
  border-radius: 20px;
}

/*Chrome*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 400px;
    color: rgba(0, 100, 180, 1);
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: rgba(0, 100, 180, 1);
    margin-top: -1px;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -405px 0 0 400px rgba(0, 100, 180, 1);
    /* box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 50%;
    border: 0 !important;
  }
}

input[type="range"]::-moz-range-progress {
  width: 100%;
}

/** FF*/

input[type="range"]::-moz-range-progress {
  background-color: rgba(0, 100, 180, 1);
}

input[type="range"]::-moz-range-track {
  background-color: grey;
}

/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: rgba(0, 100, 180, 1);
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
