@media (max-width: 700px) {
  .footer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 3px solid yellow;
  }
  .footer-desk {
    display: none;
  }
  .footer-responsive {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-responsive > a {
    font-size: 6vh;
    text-decoration: none;
    color: yellow;
  }
}

@media (min-width: 700px) {
  .footer {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 3px solid yellow;
  }
  .footer-desk {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .footer-desk > a {
    font-size: 3vh;
    text-decoration: none;
    color: yellow;
  }
  .footer-responsive {
    display: none;
  }
}
