.App {
  background-color: #1e1e20;
  background-image: url("https://cdn.pixabay.com/photo/2015/07/30/17/24/audience-868074_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
